@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>This end of semester project was developed my TeamCumorah, which comprises of the following:</p>

<table class="table">
    <thead class="bg-primary">
        <tr>
            <th class="text-light">
                S/N
            </th>
            <th class="text-light">
                Team Member Name
            </th>
            <th class="text-light">
                Team Member Email
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Hannah Rogers
            </td>
            <td>
                rog19008@byui.edu
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Jake Bassett
            </td>
            <td>
                bas12019@byui.edu
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Ali Tykhomyrova
            </td>
            <td>
                ajpeters1996@gmail.com
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
               Sunday Onwuchekwa
            </td>
            <td>
                onw19001@byui.edu
            </td>
        </tr>
    </tbody>
</table>