@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Cumorah Program Planner</h1>
    <p>Created by: Jake, Hannah, Sunday and Alexandria</p>
</div>
<div class="carousel slide" data-ride="carousel" data-interval="2000" >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block img-fluid"  src="~/images/angelMoroni.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/candelJesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/churchLogo.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/cloudJesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid " src="~/image/doorJesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/jesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/jesusAndHeavenlyFather.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/JosephSmithJesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/thinkingJesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/starJesus.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/image/wellJesus.jpg" />
        </div>


        </div>
    </div>

