@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Cumorah Program Planner</h1>
    <p>Created by: Jake, Hannah, Sunday and Alexandria</p>
</div>
